
{% extends 'base.html' %}

{% load static %}
{% load dashboard_extras %}


{% block css %}
{% endblock css %}

{% block navbar %}
    {% with nav_header_displayed=True %}
        {{block.super}}
    {% endwith %}
{% endblock navbar %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        {% with title='Sites List' up_directory_name='HEPI' up_directory_url='dashboard'|get_url active_directory_name='Sites' %}
            {% include 'dashboard/second_header.html' %}
        {% endwith %}
        {% with messages=messages %}
            {% include 'dashboard/components/dismissible-alert.html' %}
        {% endwith %}
        {% with sites=sites title='All Sites' view_only=False %}
            {% include 'dashboard/components/site-table.html' %}
        {% endwith %} 
    </div>
</div>
{% endblock content %}