
{% extends 'base.html' %}
{% load static %}
{% load dashboard_extras %}

{% block navbar %}
   {% with nav_header_displayed=True  %}
    {{block.super}}
   {% endwith %} 
{% endblock navbar %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        {% with title='Change User Password' up_directory_name='HEPI' up_directory_url='dashboard'|get_url active_directory_name='Profile' %}
            {% include 'dashboard/second_header.html' %}
        {% endwith %}
        {% with messages=messages %}
            {% include 'dashboard/components/dismissible-alert.html' %}
        {% endwith %}
        {% with formerrors=formerrors %}
            {% include 'dashboard/components/dismissible-form-errors.html' %}
        {% endwith %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Change Password</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% if request.GET.redirect_to %}
                                <input type="hidden" name="redirect_to" value="{{request.GET.redirect_to}}">
                            {% endif %}
                            <div class="bank-inner-details">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>New Password <span class="text-danger">*</span></label>
                                            <input type="password" name="password1" id="pwd_field" class="form-control" placeholder="Enter new password here" required>
                                            <ul class="mt-2">
                                                <li class="text-danger" id="minimum_length_status"><i class="fas fa-xmark ms-1 me-2"></i> Minimum 8 characters required</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>Confirm Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="pwd_cnf_field" name="password2" placeholder="Same password as above" required>
                                            <div class="d-none text-danger mt-2" id="pwd_cnf_msg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-categories-btn px-0 row"> 
                                <div class="bank-details-btn col-lg-3 col-md-12">
                                    <button class="btn bank-cancel-btn me-2 w-100 warn-action" type="submit">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function(){
        $('#pwd_cnf_field').on('keyup', function(){
            if($(this).val() != $('#pwd_field').val()){
                $('#pwd_cnf_msg').removeClass('d-none').html('Password does not match');
            }else{
                $('#pwd_cnf_msg').addClass('d-none').html('');
            }
        });
        $('#pwd_field').on('keyup', function () {
            if($('#pwd_cnf_field').val() != ''){
                if($('#pwd_cnf_field').val() != $('#pwd_field').val()){
                    $('#pwd_cnf_msg').removeClass('d-none').html('Password does not match');
                }else{
                    $('#pwd_cnf_msg').addClass('d-none').html('');
                }
            }
            if ($(this).val().length < 8) {
                $('#minimum_length_status').removeClass('text-success').addClass('text-danger').html('<i class="fas fa-xmark ms-1 me-2"></i> Minimum 8 characters required');
            } else {
                $('#minimum_length_status').removeClass('text-danger').addClass('text-success').html('<i class="fas fa-check ms-1 me-2"></i> Minimum 8 characters required');
            }
        })
    });
</script>
{% endblock javascript %}