{% extends 'base.html' %}

{% load static %}
{% load dashboard_extras %}


{% block navbar %}
    {% with nav_header_displayed=True %}
        {{block.super}}
    {% endwith %}
{% endblock navbar %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        {% with title='Add Project' up_directory_name='HEPI' up_directory_url='dashboard'|get_url active_directory_name='Add Project' %}
            {% include 'dashboard/second_header.html' %}
        {% endwith %}
        {% with messages=messages %}
            {% include 'dashboard/components/dismissible-alert.html' %}
        {% endwith %}
        {% with formerrors=formerrors %}
            {% include 'dashboard/components/dismissible-form-errors.html' %}
        {% endwith %}
        <div class="row">
            <div class="col-xl-12">
                <form method="POST">
                    {% if request.GET.redirect_to %}
                        <input type="hidden" name="redirect_to" value="{{request.GET.redirect_to}}">
                    {% endif %}
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="page-title">Project Details</h3>
                                    </div>
                                    {% comment %} <div class="col-auto text-end float-end ms-auto download-grp">
                                        <a href="students.html" class="btn btn-outline-gray me-2 active"><i
                                                class="feather-list"></i></a>
                                        <a href="students-grid.html" class="btn btn-outline-gray me-2"><i
                                                class="feather-grid"></i></a>
                                        <a href="#" class="btn btn-outline-primary me-2"><i
                                                class="fas fa-download"></i> Download</a>
                                        <a href="add-student.html" class="btn btn-primary"><i
                                                class="fas fa-plus"></i></a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <div class="bank-inner-details">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Project Name <span class="text-danger">*</span></label>
                                            <input type="text" name="name" class="form-control" placeholder="Enter project name here" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Project Director <span class="text-danger">*</span></label>
                                            <select class="form-control searchable" name="director" required>
                                                {% for director in directors %}
                                                    <option value="{{director.id}}">{{director.first_name}} {{director.last_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Department <span class="text-danger">*</span></label>
                                            <input type="text" name="department" class="form-control" placeholder="Enter project department here" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Region <span class="text-danger">*</span></label>
                                            <input type="text" name="region" class="form-control" placeholder="Enter project region here" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Start Date <span class="text-danger">*</span></label>
                                            <input type="date" name="start_date" class="form-control" placeholder="Enter project start date here"  required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Expected End Date <span class="text-danger">*</span></label>
                                            <input type="date" name="expected_end_date" class="form-control" placeholder="Enter project expected end date here"  required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>Description <span class="text-danger"></span></label>
                                            <textarea name="description" class="form-control" placeholder="Enter project description here"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" blog-categories-btn pt-0 row">
                            <div class="bank-details-btn col-lg-3 col-md-12">
                                <button class="btn bank-cancel-btn me-2 w-100" type="submit">Add Project</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}